.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #8992a9;
  cursor: pointer;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}

.icon.icon-msg {
  mask-image: url("../icons/msgicon.svg");
  -webkit-mask-image: url("../icons/msgicon.svg");
}
.icon.icon-notify {
  mask-image: url("../icons/iconnotify.svg");
  -webkit-mask-image: url("../icons/iconnotify.svg");
}
.icon.icon-full {
  mask-image: url("../icons/fullscreenicon.svg");
  -webkit-mask-image: url("../icons/fullscreenicon.svg");
}
.icon.icon-clear {
  mask-image: url("../icons/clearicon.svg");
  -webkit-mask-image: url("../icons/clearicon.svg");
  width: 16px;
  height: 16px;
}
.icon-icon1 {
  mask-image: url("../icons/Icon.svg");
  -webkit-mask-image: url("../icons/Icon.svg");
  width: 24px;
  height: 24px;
}
.icon-icon2 {
  mask-image: url("../icons/Icon2.svg");
  -webkit-mask-image: url("../icons/Icon2.svg");
  width: 18px;
  height: 18px;
}
.icon-icon3 {
  mask-image: url("../icons/Icon3.svg");
  -webkit-mask-image: url("../icons/Icon3.svg");
  width: 18px;
  height: 18px;
}
.icon-icon4 {
  mask-image: url("../icons/Icon4.svg");
  -webkit-mask-image: url("../icons/Icon4.svg");
  width: 18px;
  height: 18px;
}
.icon-search {
  mask-image: url("../icons/search.svg");
  -webkit-mask-image: url("../icons/search.svg");
}
.arrow-up {
  mask-image: url("../icons/arrow.svg");
  -webkit-mask-image: url("../icons/arrow.svg");
}
.arrow-down {
  mask-image: url("../icons/Arrow2.svg");
  -webkit-mask-image: url("../icons/Arrow2.svg");
}
.icon-expand {
  mask-image: url("../icons/Expand.svg");
  -webkit-mask-image: url("../icons/Expand.svg");
}
.icon-dont {
  mask-image: url("../icons/dont.svg");
  -webkit-mask-image: url("../icons/dont.svg");
  width: 18px;
  height: 18px;
}
.icon-vector {
  mask-image: url("../icons/Vector.svg");
  -webkit-mask-image: url("../icons/Vector.svg");
  width: 12px;
  height: 16px;
}
.icon-select {
    mask-image: url('../icons/close.svg');
    -webkit-mask-image: url('../icons/close.svg');
}
.icon-expand{
  mask-image: url('../icons/Expand.svg');
  -webkit-mask-image: url('../icons/Expand.svg');
  width: 14px;
  height: 14px;
}

/* sitebar */
.icon.icon-layout {
  mask-image: url("../icons/layoutIcon.svg");
  -webkit-mask-image: url("../icons/layoutIcon.svg");
}
.icon.icon-users {
  mask-image: url("../icons/userIcon.svg");
  -webkit-mask-image: url("../icons/userIcon.svg");
}

.icon.icon-out {
  mask-image: url("../icons/outIcon.svg");
  -webkit-mask-image: url("../icons/outIcon.svg");
}
.icon.icon-fields {
  mask-image: url("../icons/fieldsicon.svg");
  -webkit-mask-image: url("../icons/fieldsicon.svg");
}
.icon.icon-add {
  mask-image: url("../icons/addicon.svg");
  -webkit-mask-image: url("../icons/addicon.svg");
}
.icon.icon-ticket {
  mask-image: url("../icons/ticket.svg");
  -webkit-mask-image: url("../icons/ticket.svg");
}
.icon.icon-agenda {
  mask-image: url("../icons/agenda.svg");
  -webkit-mask-image: url("../icons/agenda.svg");
}
.icon.icon-users {
  mask-image: url("../icons/users.svg");
  -webkit-mask-image: url("../icons/users.svg");
}
.icon.icon-speaker {
  mask-image: url("../icons/speaker.svg");
  -webkit-mask-image: url("../icons/speaker.svg");
}
.icon.icon-positions {
  mask-image: url("../icons/positions.svg");
  -webkit-mask-image: url("../icons/positions.svg");
}
.icon.icon-settings {
  mask-image: url("../icons/settings.svg");
  -webkit-mask-image: url("../icons/settings.svg");
}
.icon.icon-comments {
  mask-image: url("../icons/comments.svg");
  -webkit-mask-image: url("../icons/comments.svg");
}






